
<!-- using variables/objects -->
<div class="card">
  This is just pure html The name is {{ name }} The price is {{ price }}$ The
  car price is {{ carPropertiesObject.price }}$
</div>
<ul>
 <!-- loop/mapping through list loop directive-->
 <li *ngFor="let carList of carLists">
  {{ carList.price }}
</li>
</ul>

<!-- condition directive -->
<ul>
 <li *ngIf="!carLists">
  {{ carLists }}
</li>
</ul>

<ul>
 <li *ngIf="value > 10 && show === true">
  {{ carLists }}
</li>

<!-- pipe /filters -->
<p>The name is {{ name | uppercase }}</p>

<!-- function handling -->
<button 
 style="color:red"
 [style.color] ="color"
(click)='showCarListHandler()'
(mousemove) ='onHoverHandler()'
>Test</button>



</ul>